HOST=0.0.0.0
PORT=3000
DATABASE_URL=postgres://stackforge:stackforge@localhost:5432/stackforge?sslmode=disable
ACCESS_TOKEN_SECRET=change-this-access-secret
REFRESH_TOKEN_SECRET=change-this-refresh-secret
COOKIE_SECURE=false
POSTGRES_DB=stackforge
POSTGRES_USER=stackforge
POSTGRES_PASSWORD=stackforge
POSTGRES_PORT=5432
