HOST=0.0.0.0
PORT=3000
DATABASE_URL=postgres://test:test@localhost:5432/test
ACCESS_TOKEN_SECRET=change-this-access-secret
REFRESH_TOKEN_SECRET=change-this-refresh-secret
COOKIE_SECURE=false
POSTGRES_DB=letsinit
POSTGRES_USER=letsinit
POSTGRES_PASSWORD=letsinit
POSTGRES_PORT=5432
